{% load static %}
<html>
<head>
<title>Detecting Fake Profiles & Botnets</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t3.value.length==0)
	{
	alert("Please enter user age");
	formObj.t3.focus();
	return false;
	}
	if(formObj.t5.value.length==0)
	{
	alert("Please enter status count");
	formObj.t5.focus();
	return false;
	}
	if(formObj.t6.value.length==0)
	{
	alert("Please enter friends count");
	formObj.t6.focus();
	return false;
	}
	return true;
	}
	</script>
	
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><font size="" color="green">Graph Neural Networks for Social Network Analysis in India: Detecting Fake Profiles & Botnets</font><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
   <ul>      
     
	  <li><a href="{% url 'Predict' %}"><font size="3" color="black">Fake Profile Prediction</a></li>
			 <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</a></li>
   </ul>   
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="230" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'PredictAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Fake Profile Prediction</b></h2>
   
	<center>{{ data|safe }}</center>
						
						<table align="center" width="30%" >

		<tr><td><font size="3" color="black">Account&nbsp;Age</font></td><td><select name="t1">
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option value="30">30</option>
		</select>
		</td></tr>

			 
		   <tr><td><font size='' color="black"><b>Gender</b></td><td><select name="t2">
		   <option value="male">Male</option>
		   <option value="female">Female</option>
		   </select>
		   </td></tr>

		    <tr><td><font size='' color="black"><b>User&nbsp;Age</b></td><td><input type="number" name="t3" size="15"/></td></tr>

			<tr><td><font size='' color="black"><b>Link&nbsp;Description</b></td><td><select name="t4">
			<option value="yes">Yes</option>
		   <option value="no">No</option>		   
		   </select>
			</td></tr>

			<tr><td><font size='' color="black"><b>Status&nbsp;Count</b></td><td><input type="number" name="t5" size="15"/></td></tr>

			<tr><td><font size='' color="black"><b>Friend&nbsp;Count</b></td><td><input type="number" name="t6" size="15"/></td></tr>

			<tr><td><font size='' color="black"><b>Internet</b></td><td><select name="t7">
			<option value="Mobile">Mobile</option>
		   <option value="Wifi">Wifi</option>		   
		   </select>
			</td></tr>

			
			 <tr><td><font size='' color="black"><b>Get&nbsp;Task</b></td><td><select name="t8">
			<option value="Active">Active</option>
		   <option value="Inactive">Inactive</option>		   
		   </select>
			</td></tr>

			<tr><td><font size='' color="black"><b>Changed&nbsp;Wifi</b></td><td><select name="t9">
			<option value="yes">Yes</option>
		   <option value="no">No</option>		  
		   </select>
			</td></tr>
			
		  
			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>