{% load static %}
<html>
<head>
<title>Detecting Fake Profiles & Botnets</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Username");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Password");
	formObj.t2.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
	
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><font size="" color="green">Graph Neural Networks for Social Network Analysis in India: Detecting Fake Profiles & Botnets</font><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         <ul>
      <li><a href="{% url 'index' %}"><font size="3" color="black">Home</a></li>
       <li><a href="{% url 'AdminLogin' %}"><font size="3" color="black">Admin Login</a></li>
	   <li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</a></li>
	   <li><a href="{% url 'Register' %}"><font size="3" color="black">New User Signup</a></li>
	</ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="230" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'UserLoginAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>User Login Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color="black"><b>Username</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="25"></td></tr>
         
		  <tr><td><font size='' color="black"><b>Password</b></td><td><input name="t2" type="password"  style="font-family: Comic Sans MS" size="25"></td></tr>

			<tr><td></td><td><input type="submit" value="Login"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>